@import "common/fullwindow_canvas.less";

#center-btn {
    @width: 200px;
    @height: 30px;
    position: relative;
    width: @width;
    height: @height;
    top: ~"calc(75% - "@height~" / 2)";
    left: ~"calc(50% - "@width~" / 2)";
}

#minimap-container {
  position: fixed;
  right: 0;
  top: 0;
}

#minimap {
  cursor: crosshair;
  display: block;
  background: #001122;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.station-viewport {
  outline: black outset 1px;
  margin: 5px;
}
.centered-station-viewport {
  .station-viewport;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#weapons-viewport {
  .centered-station-viewport;
  width: 75%;
  height: 75%;
}
