@import "common/fullwindow_canvas.less";
@import "common.less";

#lobby-players {
  .ship-crew-box;
  float: right;
}

.ship-crew-box {
  min-width: 30px;
  min-height: 120px;
  width: 20%;
  margin: 30px;
  padding: 5px;
  outline: black outset 1px;
}

.ship-selected {
  outline: green outset 2px;
}
