{% extends "full_canvas_base.html" %}

{% block header_includes %}
  {% if config.DEBUG %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/map.js") }}"></script>
    <script src="{{ url_for("static", filename="js/client.js") }}"></script>
    <script src="{{ url_for("static", filename="js/screenclient.js") }}"></script>
    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" />
  {% else %}
    <script src="{{ url_for("static", filename="js/index.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.min.css") }}" />
  {% endif %}
{% endblock header_includes %}

{% block overlay_body %}
  <div id="minimap-container">
    <canvas id="minimap" class="map" width="200px" height="200px"/></canvas><br/>
    <button id="minimap-zoom-in">+</button>
    <button id="minimap-zoom-out">-</button>
    <input id="map-lock-target" class="enable-connected" type="number"
           min="0" placeholder="0" size="4" />
  </div>
  <!-- <div class="conn-status" type="text" id="status-text">Connected!</div> -->
  <button class="enable-connected" id="center-btn">Pause Rotation</button>
  <button class="enable-connected" id="test-btn" type=submit>Test!</button>
  <input class="enable-connected" type="text" id="result-text"
                                           placeholder="Test..."/>
{% endblock overlay_body %}
