{% extends "full_canvas_base.html" %}

{% block header_includes %}
  {% if config.DEBUG %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/map.js") }}"></script>
    <script src="{{ url_for("static", filename="js/client.js") }}"></script>
    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" />
  {% else %}
    <script src="{{ url_for("static", filename="js/index.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.min.css") }}" />
  {% endif %}
{% endblock header_includes %}

{% block overlay_body %}
  <div id="minimap-container">
    <canvas id="minimap" class="map" width="200px" height="200px"/></canvas><br/>
    <button id="minimap-zoom-in">+</button>
    <button id="minimap-zoom-out">-</button>
  </div>
  <!-- <div class="conn-status" type="text" id="status-text">Connected!</div> -->
  <button class="conn-required" id="center-btn">Pause Rotation</button>
  <button class="conn-required" id="map-lock-btn" type=submit>Lock map
      to ship</button>
  <input class="conn-required" type="text" id="map-lock-target"
                                           width=20px placeholder="0"/>
{% endblock overlay_body %}
