{% extends "base_connected.html" %}

{% block header_includes %}
  {% if config.DEBUG %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/lobby.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/lobby.css") }}" />
  {% else %}
    <script src="{{ url_for("static", filename="js/lobby.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/lobby.min.css") }}" />
  {% endif %}
{% endblock header_includes %}

{% block inner_body %}
  <h1>bridgesim</h1>

  <div id="lobby-players" class="show-connected">
    Test lobby-players
  </div>


  <form id="lobby-form">
    <div id="lobby-form-div">
      <label for="player-name">Player Name: <input type="text" id="player-name"/></label>
      <div class="enable-connected">
	<label for="universe">Universe: <select id="universe">
            <option disabled selected>-- Select Universe --</option>
        </select></label>
      </div>
    <div class="universe-required">
	  <button id="ship-create">+</button>
	  <label for="ship">Ship: <select id="ship">
            <option disabled selected>-- Select Ship --</option>
      </select></label>
    </div>
    <div class="ship-required">
	  <label class="role-helm-required" for="ship-name">Name: <input type="text" id="ship-name" value="SPACESHIP!"/></label>
	  <div id="role-select">
	    <label for="role-helm">Helm<input type="checkbox" class="role" id="role-helm" name="role" value="helm" data-max-players="1"/></label>
	    <label for="role-weapons">Weapons<input type="checkbox" class="role" id="role-weapons" name="role" value="weapons"/></label>
	    <!--Sub-Roles (arsenal selection) goes here?-->
	    <label for="role-science">Science<input type="checkbox" class="role" id="role-science" name="role" value="science"/></label>
	    <label for="role-comms">Communications<input type="checkbox" class="role" id="role-comms" name="role" value="comms"/></label>
	    <label for="role-engineer">Engineering<input type="checkbox" class="role" id="role-engineer" name="role" value="engineer" data-max-players="1"/></label>
	  </div>
    </div>
      <div class="role-required" id="ready-box">
	<label for="ready">Ready: <input type="checkbox" id="ready"/></label>
      </div>
      <!-- <div class="all-ready-required role-helm-required"> -->
      <div class="role-required">
	    <button id="enter-game" class="all-ready-enable">Begin</button>
      </div>
    </div>
  </form>

  <div id="ships-waiting">
  </div>

{% endblock inner_body %}
