{% extends "full_canvas_base.html" %}

{% block header_js %}
  {% if config.DEBUG %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/map.js") }}"></script>
    <script src="{{ url_for("static", filename="js/client.js") }}"></script>
    <script src="{{ url_for("static", filename="js/screenclient.js") }}"></script>
    <script src="{{ url_for("static", filename="js/minimap.js") }}"></script>
  {% else %}
    <script src="{{ url_for("static", filename="js/index.min.js") }}"></script>
  {% endif %}
{% endblock header_js %}

{% block header_css %}
  {% if config.DEBUG %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" />
  {% else %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.min.css") }}" />
  {% endif %}
{% endblock header_css %}

{% block overlay_body %}
  <div id="minimap-container">
    <canvas id="minimap" class="map"/></canvas>
    <!-- <button id="minimap-zoom-in">+</button> -->
    <!-- <button id="minimap-zoom-out">-</button> -->
  </div>
{% endblock overlay_body %}
